body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 200px;
}

.quiz, .kanjiList {
    border: 0px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.kanji {
    font-size: 125px;
    background-color: #f5f5f5;
    margin: -30px 0px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px -6px 6px black;

}

.options button {
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px -3px 2px black;
}

.kanjiList ul {
    list-style-type: none;
    padding: 100px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    font-size: 30px;
}

.kanjiList li {
    margin: 7px;
    border-radius: 10px; 
    background-color: #f5f5f5;
    box-shadow: -4px 4px 5px black;
    padding: 3px 3px;
    cursor: pointer;
}

.kanjiList li.active {
    font-weight: bold;
    color: #61c461;
}
